.Events {
    user-select: all;
    pointer-events: all;
    height: 250px;
    width: 100%;
    padding: 1lvh 1lvw;
    position: relative;
}

.EventLog {
    overflow: overlay;
    overflow-y: scroll;
    overflow-wrap: break-word;
    display: flex;
    justify-content: end;
    align-items: start;
}