.Log {
    padding: 1lvh 0lvw;
    color: rgba(255, 255, 255, 0.95);
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    height: 120px;
    margin-top: 1rem;
    pointer-events: all;
    user-select: all;
    word-break: break-all;
}