.Log {
    color: rgba(255, 255, 255, 0.95);
    /* overflow-y: scroll; */
    display: flex;
    align-items: start;
    justify-content: flex-end;
    flex-direction: column;
    height: 25dvh;
    pointer-events: all;
    user-select: all;
    word-break: break-all;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.663);
}

.Messages {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    font-size: .65rem;
}