html,
body,
#root,
canvas {
  width: 100lvw;
  height: 100lvh;
  margin: 0;
  overflow: hidden;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

.wrapper {
  /* position: relative; */
  bottom: 0;
}

.chat {
  /* position: absolute; */
  /* bottom: 0; */
  /* left: 0; */
  padding: 1lvw 1lvh;
  /* margin: 1lvw 1lvh; */
  /* width: 30lvw; */
  /* height: 20lvh; */
  z-index: 2;
  /* user-select: none; */
  /* pointer-events: none; */
}

.dashboard {
  position: absolute;
  bottom: 0;
  width: 100lvw;
  /* height: 100dvh; */
  /* padding: 1lvw 1lvh; */
  box-sizing: border-box;
  z-index: 2;
  display: flex;
  flex-direction: column;
  user-select: none;
  pointer-events: none;
  align-items: end;
  justify-content: end;
}

.top-dash {}

.dash-bottom {
  display: flex;
  align-items: end;
}

/* fuel and temp gauge */
.misc {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  position: relative;
}

.fuel,
.temp {
  position: absolute;
}

.fuel {
  top: 0;
}

.temp {
  bottom: 0;
}

.three-d-container {
  position: relative;
  display: flex;
  flex: 2 1;
  width: 100%;
}

.three-d {
  position: relative;
  /* flex: 1 1; */
  width: 100%;
}

.start {
  /* background-color: rgba(0, 0, 0, 0.5); */
  background-image: url('./components/green-polygonal-background-with-binary-numbers/1921.jpg');
  background-size: contain;
  border-radius: 50%;
  width: 85px;
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 900;
  color: white;
  text-shadow:
    3px 3px 0 #000,
    -3px 3px 0 #000,
    -3px -3px 0 #000,
    3px -3px 0 #000;
  /* position: relative; */
  /* filter: brightness(90%); */
  /* opacity: 0.95; */
  /* border: 3px solid black; */
}

.loading {
  /* opacity: 0.85; */
  filter: brightness(65%);
  border: 2px solid black;
}

.flex-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  user-select: none;
  background-color: rgba(0, 0, 0, 0.152);
  min-height: 30lvh;
  min-width: 270px;
  width: 35lvw;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1000;
  box-sizing: border-box;
}

.disconnected {
  background-color: #560505bc;
}