.MyForm {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    justify-content: start;
    padding: 8px;
    background-color: #000;
    border: 1px solid #333;
    font-family: monospace;
}

.MyForm input {
    width: 100%;
    background: black;
    color: #0f0;
    border: none;
    outline: none;
    font-size: 1rem;
}

.MyForm button {
    display: none;
    /* Hides it but keeps submit functionality */
}